#root {
  width: 100%;
  height: 100%;
  background-color: transparent !important;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: transparent !important;
  overflow: hidden;
}
